@use "../helpers/" as *;

.articles {
  background-color: var(--color-bg-white);

  &--dark {
    background-color: var(--color-grey-100);
  }

  &__inner {
    padding-top: rem(15);
    padding-bottom: rem(60);

    &--pb-60 {
      padding-block: rem(60);
    }
  }

  &__grid {
    &--size-4-4 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, rem(170));
      grid-template-areas:
        "car car hand columns"
        "car car hand columns"
        "cat one one columns"
        "cat one one columns";

      @include desktop {
        justify-content: center;
        grid-template-columns: repeat(3, rem(263));
        grid-template-rows: repeat(5, rem(170));
        grid-template-areas:
          "car car columns"
          "car car columns"
          "cat hand columns"
          "cat hand columns"
          "one one one";
      }

      @include laptop-s {
        grid-template-columns: repeat(2, rem(263));
        grid-template-rows: repeat(8, rem(170));
        grid-template-areas:
          "car car"
          "car car"
          "cat hand"
          "cat hand"
          "one columns"
          "one columns"
          "one columns"
          "one columns";
      }

      @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          'car'
          'hand'
          'cat'
          'one'
          'one'
          'one'
          'one'
          'columns'
          'columns'
          'columns'
          'columns';
      }
    }

    &--size-3-4 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, rem(170));
      grid-template-areas:
        "slides slides woman woman"
        "slides slides woman woman"
        "slides slides one one";
    }
  }
}
