@use "../helpers/" as *;

.author {
  --textColor: var(--color-white);
  --textShadow: 0 0 10px transparent;

  display: flex;
  align-items: center;
  column-gap: rem(10);
  text-shadow: 0 0 10px transparent;

  @include hover {
    --textColor: var(--color-grey-blue-25);
    --textShadow: 0 0 10px var(--color-grey-100);
  }

  &--col {
    flex-direction: column;
  }

  &__img {
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__info {
    display: grid;
    row-gap: rem(2);

    &--center {
      margin-top: rem(8);
      justify-items: center;
    }
  }

  &__name {
    color: var(--textColor);
    font-size: rem(14);
    opacity: 0.85;
    line-height: 1.43;
    text-shadow: var(--textShadow);
    transition-duration: var(--transition-duration);

    &--grey-blue-25 {
      color: var(--color-grey-blue-25);
    }
  }

  &__work {
    color: var(--textColor);
    font-size: rem(12);
    opacity: 0.4;
    line-height: 1.25;
    text-shadow: var(--textShadow);
    transition-duration: var(--transition-duration);

    &--grey-blue-25 {
      color: var(--color-grey-blue-25);
    }
  }
}
