@use "../helpers/" as *;

.button {
  --rightArrowValue: #{rem(20)};
  --arrowColor: var(--color-white);
  --countTextColor: var(--color-grey-blue-40);

  padding-block: rem(10);
  position: relative;
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: rem(20);
  font-size: rem(14);
  font-weight: 900;
  line-height: 1.43;
  border: var(--border);
  border-color: transparent;

  @include hover {
    --rightArrowValue: #{rem(15)};
    --arrowColor: var(--color-accent);
    --countTextColor: var(--color-accent);

    background-color: var(--color-white);
    color: var(--color-accent);
  }

  &--alt {
    @include hover {
      border-color: var(--color-accent);
    }
  }

  &__count {
    margin-left: rem(5);
    color: var(--countTextColor);
  }

  &--arrow {
    &::after {
      @include abs-y;

      content: "";
      mask: url("../../images/icons/arrow-thin-arrow-white.svg") no-repeat center;
      background-color: var(--arrowColor);
      height: rem(7);
      width: rem(15);
      right: var(--rightArrowValue);
      transition-duration: var(--transition-duration);
    }
  }

  &--left-icon {
    padding-left: rem(50);

    &::before {
      @include abs-y;

      content: "";
      mask: url("../../images/icons/images.svg") no-repeat center;
      background-color: var(--arrowColor);
      height: rem(20);
      width: rem(20);
      left: rem(20);
      transition-duration: var(--transition-duration);
    }
  }

  &--right-count {
    padding-right: rem(25);
  }
}
