@use "../helpers/" as *;

.category {
  font-size: rem(12);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.04em;

  &--fsz-14 {
    font-size: rem(14);
  }

  &--backlight {
    text-shadow: 0 0 10px var(--color-grey-100);
    color: var(--color-grey-blue-25);
  }

  &--blue-green {
    color: var(--color-blue-green);
  }

  &--grey-blue-75 {
    color: var(--color-grey-blue-75);
  }

  &--purple {
    color: var(--color-purple);
  }

  &--orange {
    color: var(--color-orange);
  }

  &--green {
    color: var(--color-green);
  }
}
