@use "../helpers/" as *;

.footer {
  padding-top: rem(60);
  padding-bottom: rem(55);

  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: var(--font-family-accent);
      font-size: rem(40);
      font-weight: 700;
      line-height: 1.25;
    }

    &-form {
      margin-top: rem(25);
      max-width: rem(442);
    }
  }

  &__navigation {
    margin-top: rem(70);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &__list {
    &-box {
      padding-top: rem(30);
      border-top: var(--border);
      border-width: rem(5);

      &--red {
        border-color: var(--color-red);
      }

      &--purple {
        border-color: var(--color-purple);
      }

      &--accent {
        border-color: var(--color-accent);
      }

      &--orange {
        border-color: var(--color-orange);
      }

      &--green {
        border-color: var(--color-green);
      }

      &--grey-blue-75 {
        border-color: var(--color-grey-blue-75);
      }
    }

    &-title {
      margin-bottom: rem(25);
      font-size: rem(14);
      line-height: 1.43;
      font-weight: 900;
      color: var(--color-grey-100);
    }

    &-menu {
      display: grid;
      row-gap: rem(15);
    }

    &-link {
      position: relative;
      font-size: rem(14);
      line-height: 1.43;
      color: var(--color-grey-85);

      @include hover {
        color: var(--color-accent);
      }

      &::before {
        @include abs-center;

        content: "";
        width: 150%;
        height: 180%;
      }
    }
  }

  &__contacts {
    margin-top: rem(64);
    padding-block: rem(30);
    display: flex;
    column-gap: rem(30);
    border-block: var(--border);

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(30);
    }

    &-link {
      position: relative;
      font-size: rem(14);
      font-weight: 900;
      line-height: 1.43;
      letter-spacing: 0.04em;
      color: var(--color-grey-100);
      text-transform: uppercase;

      @include hover {
        color: var(--color-accent);
      }

      &::before {
        @include abs-center;

        content: "";
        width: 120%;
        height: 250%;
      }
    }

    &-soc1als {
      justify-self: end;
    }
  }

  &__extra {
    margin-top: rem(40);
    display: flex;
    justify-content: space-between;
    font-size: rem(14);
    line-height: 1.43;
    color: var(--color-grey-50);

    &-description {
      max-width: rem(750);
    }
  }
}
