@use "../helpers/" as *;

.icon {
  --iconCommentColor: var(--color-grey-30);
  --iconHeartColor: var(--color-grey-30);
  --iconTextColor: var(--color-grey-50);

  display: flex;
  column-gap: rem(6);
  font-size: rem(12);
  color: var(--iconTextColor);
  transition-duration: var(--transition-duration);
  cursor: pointer;

  @include hover {
    --iconCommentColor: var(--color-accent);
    --iconHeartColor: var(--color-red);
  }

  &::before {
    content: "";
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    width: rem(14);
    height: rem(14);
    transition-duration: var(--transition-duration);
  }

  &--comment {
    &::before {
      mask: url("../../images/icons/comment.svg") no-repeat center;
      background-color: var(--iconCommentColor);
    }
  }

  &--heart {
    &::before {
      mask: url("../../images/icons/heart.svg") no-repeat center;
      background-color: var(--iconHeartColor);
    }
  }
}
