@use "../helpers/" as *;

.tabs {
  &__title {
    padding-inline: rem(25);
    padding-block: rem(20);
    font-size: rem(14);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-grey-100);
    line-height: 1.43;
    border-bottom: var(--border);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: rem(510);
  }

  &__button {
    --colorOnHover: var(--color-white);

    position: relative;
    padding-top: rem(17);
    padding-bottom: rem(19);
    padding-inline: rem(25);
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    text-align: left;
    background-color: var(--colorOnHover);

    @include hover {
      --colorOnHover: var(--color-grey-15);
    }

    &:not(:last-child) {
      border-bottom: var(--border);
    }

    &:last-child {
      height: 100%;
    }

    &--is-active {
      pointer-events: none;
      background-color: var(--color-bg-grey-light);

      &::before {
        content: "";

        @include abs-y;
        background-color: var(--colorOnHover);
        width: 12px;
        height: 20px;
        left: rem(-11);
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
        background-color: var(--color-bg-grey-light);
        transition-duration: var(--transition-duration);
      }
    }

    &-category {
      font-size: rem(12);
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.25;
      letter-spacing: 0.04em;

      &--blue-green {
        color: var(--color-blue-green);
      }

      &--grey-blue-75 {
        color: var(--color-grey-blue-75);
      }

      &--purple {
        color: var(--color-purple);
      }

      &--orange {
        color: var(--color-orange);
      }

      &--green {
        color: var(--color-green);
      }
    }

    &-title {
      position: relative;
      font-size: rem(14);
      color: var(--color-grey-85);
      line-height: 1.43;

      &--has-video {
        &::after {
          content: "";

          position: absolute;
          top: 55%;
          margin-left: rem(6);
          background-image: url("../../images/icons/arrow-right-dark.svg");
          width: rem(20);
          height: rem(20);
        }
      }
    }
  }
}
