@use "../helpers/" as *;

.tabs {
  &__title {
    padding-inline: rem(25);
    padding-block: rem(20);
    font-size: rem(14);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-grey-100);
    line-height: 1.43;
    border-bottom: var(--border);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: rem(510);
  }

  &__button {
    padding-top: rem(17);
    padding-bottom: rem(19);
    padding-inline: rem(25);
    display: grid;
    row-gap: rem(8);
    text-align: left;

    @include hover {
      background-color: var(--color-grey-blue-25);
    }

    &:not(:last-child) {
      border-bottom: var(--border);
    }

    &:last-child {
      height: 100%;
      border-bottom-right-radius: rem(10);
    }

    &-category {
      font-size: rem(12);
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.25;
      letter-spacing: 0.04em;

      &--blue-green {
        color: var(--color-blue-green);
      }

      &--grey-blue-75 {
        color: var(--color-grey-blue-75);
      }

      &--purple {
        color: var(--color-purple);
      }

      &--orange {
        color: var(--color-orange);
      }

      &--green {
        color: var(--color-green);
      }
    }

    &-title {
      position: relative;
      font-size: rem(14);
      color: var(--color-grey-85);
      line-height: 1.43;

      &--has-video {
        &::after {
          content: "";

          position: absolute;
          top: 55%;
          margin-left: rem(6);
          background-image: url("../../images/icons/arrow-right-dark.svg");
          width: rem(20);
          height: rem(20);
        }
      }
    }
  }
}
