@use "../helpers/" as *;

html,
:has(:target) {
  scroll-behavior: smooth;
}

html {
  scrollbar-gutter: stable;
}

* {
  outline-color: var(--color-accent);
  scrollbar-width: thin;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.1;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
