@use "../helpers/" as *;

* {
  outline-color: var(--color-accent);
}

body {
  font-family: var(--font-family-base);
  line-height: 1.1;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
