:root {
  --color-white: #ffffff;
  --color-grey-100: #262d33;
  --color-grey-85: #4b5157;
  --color-grey-50: #939699;
  --color-grey-30: #bcbfc2;
  --color-grey-15: #d9dadb;
  --color-accent: #4592ff;

  --color-grey-blue-75: #55839e;
  --color-grey-blue-75: #6e99ae;
  --color-grey-blue-50: #b4d1e0;
  --color-grey-blue-25: #d1e2eb;

  --color-red: #ff4f52;
  --color-blue-green: #3bbdc4;
  --color-green: #3dc47e;
  --color-purple: #ac8ee3;
  --color-orange: #ffa34d;

  --color-red-bookmark: #eb5757;

  --border: 1px solid var(--color-grey-15);

  --font-family-base: "Lato", sans-serif;
  --font-family-accent: "Roboto Slab", sans-serif;

  --container-width: 1140px;
  --container-padding-x: 10px;

  --transition-duration: 0.2s;
}
