@use "../helpers" as *;

:root {
  --color-white: #ffffff;
  --color-grey-100: #262d33;
  --color-grey-95: #30363d;
  --color-grey-85: #4b5157;
  --color-grey-50: #939699;
  --color-grey-30: #bcbfc2;
  --color-grey-15: #d9dadb;
  --color-accent: #4592ff;

  --color-bg-white: #edeff0;
  --color-bg-grey-light: #f5f5f5;
  --color-bg-dark: #040404;

  --color-grey-blue-100: #55839e;
  --color-grey-blue-75: #6e99ae;
  --color-grey-blue-40: #C5E4FC;
  --color-grey-blue-50: #b4d1e0;
  --color-grey-blue-25: #d1e2eb;

  --color-red: #ff4f52;
  --color-blue-green: #3bbdc4;
  --color-green: #3dc47e;
  --color-purple: #ac8ee3;
  --color-orange: #ffa34d;

  --color-red-bookmark: #eb5757;

  --color-bg-facebook: #4267B2;
  --color-bg-twitter: #1DA1F2;
  --color-bg-youtube: #FF0000;
  --color-bg-instagram: #262626;

  --border: 1px solid var(--color-grey-15);
  --border-radius: #{rem(10)};

  --font-family-base: "Lato", sans-serif;
  --font-family-accent: "Roboto Slab", sans-serif;

  --container-width: 1140px;
  --container-padding-x: 10px;

  --transition-duration: 0.2s;
}
